/**** Reset ****/
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/**** Color variables ****/
:root {
  --primary-blue: #17c3b2;
  --primary-orange: #fbe6c4;
  --light-blue: lightcyan;
  --basic-white: #fef9ef;
  --secondary-red: #fe6d73;
}

body {
  background-color: var(--basic-white);
}

/***** Typography ******/

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  color: var(--primary-orange);
}

h4 {
  color: var(--primary-blue);
  font-size: 1.2rem;
}

/**** Container *****/

.container {
  width:100vw;
  padding: 20px;
}

/***** Header ******/
#header{
  background: var(--secondary-red);
  color: var(--basic-white);
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
/***** Navbar styles ****/
nav {
  padding: 10px;
  width:100%;
  background: var(--basic-white);
  position:fixed;
  bottom:0;
  
  
}

nav ul {
  display:flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul li img{
  width:50px;
}


/***** Card styles ****/
.card {
  background: var(--primary-orange);
  padding:20px 15px;
  border-radius: 10px;
  margin-top:20px;
  margin-bottom:30px;
}
.card img {
  width:100%;
  margin: 10px 0;
}

.card button {
  background: var(--primary-blue);
  color: var(--basic-white);
  border: none;
  padding: 10px 20px;
  margin-top:10px;
  border-radius: 10px;
}


/******* Search input *******/
.search-input{
  width:100%;
  padding:10px;
  border-radius: 10px;
  border: 2px solid var(--primary-blue);
  text-align: left;
}

input::placeholder {

}